<ion-header>
  <ion-navbar hideBackButton>
    <ion-title>
      <a class="textcolor">ไดอารี่ประจำวัน</a>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="backgroundID" padding>
  <form [formGroup]="myGroup">

    <ion-list inset>
      <ion-item class="backgroundID">
        <ion-label floating>name</ion-label>
        <ion-input type="text" class="textcolor" formControlName="name"></ion-input>
      </ion-item>
      <p id="nameError" class="invalid-feedback" *ngIf="myGroup.get('name').touched && myGroup.get('name').invalid"></p>
      <ion-item class="backgroundID">
        <ion-label floating>price</ion-label>
        <ion-input type="text" class="textcolor" formControlName="price"></ion-input>
      </ion-item>
    </ion-list>


    <div>
      <button ion-button (click)="addItem();">
        <ion-icon name="person"></ion-icon>Save</button>
      <button ion-button (click)="clear();">Clear</button>
      <button ion-button (click)="getItemlist();">Show list</button>
      <div class="col-1 mt-6 text-center">
        <a>Sum : {{ sumNumber }}</a>
      </div>
    </div>
    <ion-list *ngIf="isCheckListItem " >
      <ion-item *ngFor="let y of ItemList ;let i=index;"  class="backgroundID">
        <ion-thumbnail item-start>
          <ion-icon name="people"></ion-icon>
        </ion-thumbnail>
        <h2 class="textcolor">{{ y.name }}</h2>
        <h2 class="textcolor">{{ y.price }}</h2>
        <h2 class="textcolor" >{{ y.createDate }}</h2>
        <button ion-button (click)="deleteItem(y.id,i);">Delelte</button>
        <button ion-button (click)="openNavDetailsPage(y);">Detail</button>
      </ion-item>
    </ion-list>
    <button ion-button (click)="logout();">Logout</button>
  </form>

</ion-content>
