<ion-header>
  <ion-navbar hideBackButton>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      Menus
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form [formGroup]="myGroup">

    <ion-list inset>

      <ion-item>
        <ion-label>name</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>
      <p id="nameError" class="invalid-feedback" *ngIf="myGroup.get('name').touched && myGroup.get('name').invalid"></p>
      <ion-item>
        <ion-label>price</ion-label>
        <ion-input type="text" formControlName="price"></ion-input>
      </ion-item>
    </ion-list>


    <div>
      <button ion-button (click)="addItem();">
        <ion-icon name="person"></ion-icon>Save</button>
      <button ion-button (click)="clear();">Clear</button>
      <button ion-button (click)="getItemlist();">Show list</button>
      <div class="col-1 mt-6 text-center">
        <a>Sum : {{ sumNumber }}</a>
      </div>
    </div>
    <ion-list *ngIf="isCheckListItem ">
      <ion-item *ngFor="let y of ItemList ; let i=index ">
        <ion-thumbnail item-start>
          <ion-icon name="people"></ion-icon>
        </ion-thumbnail>
        <h2>{{ y.name }}</h2>
        <h2>{{ y.price }}</h2>
        <button ion-button (click)="deleteItem(y.id,i);">Delelte</button>
        <button ion-button (click)="openNavDetailsPage(y);">Detail</button>

      </ion-item>
    </ion-list>
  </form>

</ion-content>
